a {
  img {
    display: block;
  }
}

img {
  width: 100%;
  height: auto;
}

:root {
  --padding-top-header: 70px;
}

.logo {
  width: 18%;
  height: auto;

  /** Media Querie 1200
========================*/
  @media (min-width: 1200px) {
    width: 10%;
    height: auto;
  }
}

.logo,
.headerImage__Box {
  img {
    border-radius: 50%;
  }
}

.infoNav {
  flex-basis: 80%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  padding-top: 0.5em;

  .infoNav__name {
    font-size: 6vw;
    font-weight: bold;
  }

  .infoNav__deputy {
    font-size: 3vw;
  }

  @media (min-width: 1200px) {
    .infoNav__name {
      font-size: 4vw;
      margin-left: -2.5em;
    }
    .infoNav__deputy {
      font-size: 2vw;
      margin-left: -5em;
    }
  }
}

header {
  min-height: 100vh;

  h1 {
    line-height: 5rem;
    margin-block-end: 1rem;
  }
}

.headerImage {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.headerImage__Box {
  width: 40%;
  height: auto;
  margin-bottom: 1.2rem;

  // ============== Media Querie 768
  @media (min-width: 768px) {
    width: 30%;
    height: auto;
  }

  // ============== Media Querie 1024
  @media (min-width: 1024px) {
    width: 25%;
    height: auto;
  }

  // ============== Media Querie 1024
  @media (min-width: 1200px) {
    width: 20%;
    height: auto;
  }

  // ============== Media Querie  1200
  @media (min-width: 1400px) {
    width: 18%;
    height: auto;
  }
}

header.masthead {
  position: relative;
  overflow: hidden;
  /** cambio de 7rem a  */
  padding-top: calc(1rem + var(--padding-top-header));
  padding-bottom: 7rem;
  background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

.namePartyPol {
  margin-top: 0.5rem;
  margin-block-end: 0;
}

.messagePartyPol {
  margin-block-start: -0.5rem;
}

p {
  font-size: 1.5vw;
}
